@model Slider

<div class="item">
    <div class="post_s_item">
        <div class="post_img">
            <img src="@Model.Resim" alt="">
        </div>
        <div class="post_text">
            <a href="single-blog.html"><h4>@Model.Tittle</h4></a>
            <p>@Model.Description</p>
            <div class="date">
                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> @Model.Tittle</a>
            </div>
        </div>
    </div>
</div>
